.header {
    padding: 1rem;
    border-bottom-left-radius: $spc-40;
    border-bottom-right-radius: $spc-40;
    box-shadow: 0 4px 20px #0000001a;


    &__logo{
        display: flex;
        justify-content: center;
        padding: $spc-20;
      }
  }

  