.categories{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: $spc-full;
    gap: $spc-20;
    background-color: $color-primary-500;
    padding-right: $spc-40;

    &__categories__item{
        min-width: $spc-100;
        padding: $spc-10 $spc-20;
        border: 1px solid black;
        border-radius: $spc-10;
      }

      &__categories__item:hover{
        background-color: $color-secondary-500;
        color: $color-primary-500;
      }
  }
  