.menu__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: $spc-40;
  border-radius: $spc-20;
  box-shadow: $spc-0 $spc-10 $spc-55 #0000000d;

  @media (min-width: 640px) {
    grid-template-columns: 1fr 1fr;
  }

  &__menu__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #dfe2e4;
    max-width: $spc-min;
    padding: $spc-40;
    margin: $spc-0 auto;
  }

  &__menu__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu__price {
    font-size: $spc-40;
    padding: $spc-50;
  }

  &__menu__add-btn {
    padding: $spc-10 $spc-52;
    border: 1px solid $color-border-500;
    color: $color-primary-500;
    border-radius: 0.5rem;
  }

  &__menu__add-btn:hover {
    background-color: #0056b3;
    color: #fff;
    border-color: #0056b3;
  }
}
