//COLORS
$color-primary-500: #fff;
$color-secondary-500: #0056b3;
$color-border-500: #dfe2e4;
$color-bg-500: #fbfbfb;
$dcolor-btn-500: #88a0c7;



//SPACING
$spc-0: 0;
$spc-10: 4px;
$spc-20: 8px;
$spc-40: 16px;
$spc-50: 20px;
$spc-52: 24px;
$spc-55: 30px;
$spc-60: 40px;
$spc-100: 90px;
$spc-150:500px;
$spc-full: 100%;
$spc-min: 95%;
$spc-half: 50%;


//BREAKPOINT
$brp-10: 480px;
$brp-20: 640px;
$brp-30: 960px;
